label {
    display: flex;
    align-items: left;
}

.checkbox{
    margin-right: 10px;  
}

.checkbox_div{
    display: flex;
    align-items:first baseline;
    flex-direction: column; /* Stacking elements vertically */
}